#calculadora {
    background:#AD8E85;
    color: white;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;

}
.spMes {
    border-color:  #43372B;
    border-width: 1px;
    border-style: dashed;
    background:  #43372B;
    color: white;
    text-align: start;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
#calculadora input:focus{
    background: white;
    color: black;
}
#calculadora input {
    background: #EBCDC3;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border-color: white;
}
#sptotal {
    background:  #43372B;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#calculadora button {
    background: #43372B;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    border-color: white;
}
#calculadora button:hover{
    background: rgb(236, 222, 212);
    color: white;
    cursor: pointer;
}
 h3 {
     color:  #43372B;
 }
 .calcF{
  display: none;

 }

 #input-calcF{
    display: none;

}
#input-calcF:checked + #calculadora .calcF {
    display:block;
}
#calculadoraESC {
    background: rgb(77, 216, 77);
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px yellowgreen;
}
#calculadoraESC input:focus{
    color:rgb(0, 0, 0);
    background: rgb(0, 192, 176);
}
#calculadoraESC input {
    background: rgb(54, 236, 124);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}
#calculadoraESC button {
    background: rgb(6, 141, 17);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
#calculadoraESC button:hover{
    background: rgb(236, 222, 212);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.calcES{
    display: none;
}

#input-calcEqSG{
   display: none;
}
#input-calcEqSG:checked + #calculadoraESC .calcES {
   display:block;

